.wab-product-box-input {
  border: 1px solid #d5d9d9;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
}

.wab-product-box {
  border: 1px solid #d5d9d9;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  box-sizing: border-box !important;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .wab-product-box-content {
    box-sizing: inherit;

    h3 {
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: normal;
    }

    ul {
      padding-left: 0 !important;
      margin-bottom: 30px;
      list-style: none;
      font-size: 16px;
    }

    a {
      display: inline-block;
      width: auto;
      padding: 10px 30px;
      margin: 0;
      background-color: #222;
      border-radius: 5px;
      color: #fff !important;
      text-decoration: none;
      font-size: 16px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
  }
}
